{% extends "base.html" %}

{% block content %}
	<h1>{% block title %}Add {% firstof friend.get_full_name friend.username %} as a contact{% endblock %}</h1>
	{{ add_friend_form.errors }}
	<form method="post" action="">{% csrf_token %}
		<p style="margin: 1em 0; list-style: none; min-height: 60px !important; padding: 0 0 0 60px; background: url({{ MEDIA_URL }}/{% if add_friend_form.to_user.get_profile.photo %}{{ add_friend_form.to_user.get_profile.photo.thumbnail.url}}{% else %}/images/unknown_thumbnail.png{% endif %}) no-repeat 0 2px; " >
			<strong>{% firstof add_friend_form.to_user.get_full_name add_friend_form.to_user.username %}</strong><br />
			{% if add_friend_form.to_user.get_profile.job %}{% if add_friend_form.to_user.get_profile.job.role %}{{ add_friend_form.to_user.get_profile.job.role }} at {% endif %}{{ add_friend_form.to_user.get_profile.job.name }}<br />{% endif %}
			{% if add_friend_form.to_user.get_profile.country %}{{ add_friend_form.to_user.get_profile.country.name }}<br />{% endif %}
		</p>
		{{ add_friend_form.to_user }}
		{% if connections.0 %}
		<div id="connections">
		You →
		{% for c in connections %}{% if forloop.counter < 4 %}{% if forloop.last and not forloop.first %}
					 and 
				{% else %}{% if not forloop.first %}, {% endif %}{% endif %}{% firstof c.get_full_name c.username %}{% else %}{% if forloop.last %}
				{% if forloop.counter > 4 %}
					and others ({{forloop.counter}} total)
				{% else %}
				    and {% firstof c.get_full_name c.username %}{% endif %}{% endif %}
				{% endif %}{% endfor %}
		→
		{% firstof friend.get_full_name friend.username %}
		</div>
		{% endif %}
		<ol class="fields">
			<li>
				<label for="choose_how_related_id">How do you know {% firstof friend.first_name friend.username %}?</label>
				<div class="field">
				{{ add_friend_form.choose_how_related }}
			</li>
			<li class="field">
					<label class="inline">{{ add_friend_form.other_related_check }} Other:</label>
					{{ add_friend_form.other_related }}
			</li>
			<li>
				<label for="message_id">Message:</label>
				{{ add_friend_form.message }}
			</li>
			<li>
				<input type="submit" value=" Send Contact Request " />
			</li>
		</ol>
		{% firstof friend.first_name friend.username %} will be contacted. If they approve your request, you will be contacts.
	</form>

{% endblock content %}

{% block extra_css %}
{% endblock extra_css %}