{% extends "base.html" %}

{% block content %}
	<h1>{% block title %}Add {% firstof friend.get_full_name friend.username %} as a contact{% endblock %}</h1>
	{{ add_friend_form.errors }}
	<form method="post" action="">{% csrf_token %}
		{% if connections.0 %}
		<div id="connections">
		You →
		{% for c in connections %}{% if forloop.counter < 4 %}{% if forloop.last and not forloop.first %}
					 and 
				{% else %}{% if not forloop.first %}, {% endif %}{% endif %}{% firstof c.user.get_full_name c.user.username %}{% else %}{% if forloop.last %}
				{% if forloop.counter > 4 %}
					and others ({{forloop.counter}} total)
				{% else %}
				    and {% firstof c.user.get_full_name c.user.username %}{% endif %}{% endif %}
				{% endif %}{% endfor %}
		→
		{% firstof friend.get_full_name friend.username %}
		</div>
		{% endif %}
		<ol class="fields">
			<li>
				<label for="choose_how_related_id">How do you know {% firstof friend.first_name friend.username %}?</label>
				<div class="field">
				{{ add_friend_form.choose_how_related }}
			</li>
			<li class="field">
					<label class="inline">{{ add_friend_form.other_related_check }} Other:</label>
					{{ add_friend_form.other_related }}
			</li>
			<li>
				<label for="message_id">Message:</label>
				{{ add_friend_form.message }}
			</li>
			<li>
				<input type="submit" value=" Send Contact Request " />
			</li>
		</ol>
		{% firstof friend.first_name friend.username %} will be contacted. If they approve your request, you will be contacts.
	</form>

{% endblock content %}

{% block extra_css %}
{% endblock extra_css %}