{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Address Book{% endblock title %}</h1>
<p>Below are all of the people in your address book. Not all of them are users on the site.</p>

<dl>
{% for contact in contacts %}
{% if contact.user.get_profile %}
	<dt id="contact-{{ contact.id }}">
	{# This is a user on the site, so display site user information #}
	{% if contact.user.get_profile.photo %}
		<a href="{{ contact.user.get_profile.get_absolute_url }}" /><img src="{{ MEDIA_URL }}/{{ contact.user.get_profile.photo.thumbnail.url }}" style="border: 0; float: middle;"  /></a>
	{% else %}
		<a href="{{ contact.user.get_profile.get_absolute_url }}" /><img src="{{ MEDIA_URL }}/images/unknown_thumbnail.png" style="border: 0; vertical-align: middle;" /></a>
	{% endif %} 
	<strong><a href="{{ contact.user.get_profile.get_absolute_url }}" />{% firstof contact.user.get_profile.user.get_full_name contact.user.get_profile.user.username %}</a></strong><br />
		{% if request.user in contact.user.get_profile.get_friends_as_users %}{{ contact.user.first_name}} is your contact.{% endif %}
	</dt>
{% else %}
	<dt id="contact-{{ contact.id }}">
		{% if contact.name %}
			<strong class="contact-name">{{ contact.name }}</strong><br /><a class="contact-email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
		{% else %}
			<strong>&lt;<a class="contact-email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>&gt;</strong>
		{% endif %}
	</dt>
{% endif %}
	<dd>
		{% if contact.user.get_profile.job %}{% if contact.user.get_profile.job.role %}{{ contact.user.get_profile.job.role }} at {% endif %}{{ contact.user.get_profile.job.name }}<br />{% endif %}
		{% if contact.user.get_profile.country %}{{ contact.user.get_profile.country.name }}<br />{% endif %}
		{% if contact.address %}{{ contact.address }}<br />{% endif %}
		{% if contact.phone %}Phone: {{ contact.phone }}<br />{% endif %}
		{% if contact.mobile %}Mobile: {{ contact.mobile }}<br />{% endif %}
		{% if contact.fax %}Fax: {{ contact.fax }}<br />{% endif %}
		{% if contact.website %}Website: <a href="{{ contact.website }}">{{ contact.website }}</a><br />{% endif %}
		{% if not contact.user %}
			<a id="invite-user-{{ contact.id }}" class="invite-user" href="{% url invite_contact contact.id %}">Invite</a>
		{% else %}
			{% if request.user not in contact.user.get_profile.get_friends_as_users %}<a class="invite-friend" href="{% url invite_friend contact.user.username %}">Invite</a>{% endif %}
		{% endif %}
		|
		<a href="{% url edit_contact contact.id %}">Edit Details</a>		
	</dd>
{% endfor %}
</dl>
<form method="post" action="" id="invitation-form" style="display: none">{% csrf_token %}<fieldset></fieldset></form>
<script type="text/javascript">
	$(document).ready(function (){
		$(".invite-user").click(function (e){
			$("#invitation-form").show().addClass('dialog');
			$("#invitation-form fieldset").empty();
			id = $(this).attr('id').replace('invite-user-','');
			name = $('#contact-'+id+' .contact-name').html();
			email = $('#contact-'+id+' .contact-email').html();
			$("#invitation-form").action = '{% url invite_contact 0 %}'.replace('0', id);
			if (name.length) {
				msg = "Send an invitation to " + name + " (" + email + ")";
			} else {
				msg = "Send an invitation email to " + email;
			}
			$("<div>").html(msg).appendTo("#invitation-form");
			$("<label>").html("Message").append("<br>").append("<textarea name='message' rows='3' cols='40'>").appendTo("#invitation-form fieldset");
			$("<input type='submit' value='Send Invitation'>").appendTo('#invitation-form fieldset');
			e.stopPropagation();
			return false;
		});
	});
</script>
{% endblock content %}

{% block extra_css %}
	.dialog {
		display: block;
		position: fixed;
		width: 50%;
		height: 40%;
		top: 30%;
		left: 25%;
		background: white;
		border: 3px solid black;
		padding: 1em;
	}
{% endblock extra_css %}