{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Edit Friends {% endblock title %}</h1>

{% for friendship in friendship_list %}
<dl class="friends">
	<dt>
	{# This is a user on the site, so display site user information #}
	{% if friendship.friend.get_profile.photo %}
		<a href="{{ friendship.friend.get_profile.get_absolute_url }}" /><img src="{{ MEDIA_URL }}/{{ friendship.friend.get_profile.photo.thumbnail.url }}" style="border: 0; float: middle;"  /></a>
	{% else %}
		<a href="{{ friendship.friend.get_profile.get_absolute_url }}" /><img src="{{ MEDIA_URL }}/images/unknown_thumbnail.png" style="border: 0; vertical-align: middle;" /></a>
	{% endif %} 
	<strong><a href="{{ friendship.friend.get_profile.get_absolute_url }}" />{% firstof friendship.friend.get_profile.user.get_full_name friendship.friend.get_profile.user.username %}</a></strong><br />
	</dt>
	<dd>
		{{ friendship.friendship.how_related }}
		<a href="{% url edit_friend friendship.friend.username %}">Edit</a>
		<a href="{% url remove_friend friendship.friend.username %}">Remove</a>
	</dd>
</dl>
{% endfor %}
{% endblock %}