{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Edit Friends {% endblock title %}</h1>

{% for form in friend_forms %}
<ol class="fields">
			<li>
				<label for="choose_how_related_id">How do you know {% firstof form.friend.first_name form.friend.username %}?</label>
				<div class="field">
				{{ form.choose_how_related }}
			</li>
			<li class="field">
					<label class="inline">{{ form.other_related_check }} Other:</label>
					{{ form.other_related }}
			</li>
			<li class="field">
					<label class="inline">{{ form.dont_know_check }} I don't know {% firstof form.friend.first_name form.friend.username %}</label>
			</li>
			<li>
				<input type="submit" value=" Save " />
			</li>
</ol>
{% endfor %}
{% endblock %}