{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Recommended Contacts{% endblock title %}</h2>
<p>These are people we think you may already know and collaborate with.</p>
<ul id="suggested-contacts" style="margin: 0; padding: 0">
	{% for recommendation in recommended_friends %}
		<li style="margin: 1em 0; list-style: none; min-height: 60px !important; padding: 0 0 0 60px; background: url({{ MEDIA_URL }}/{% if recommendation.suggested_user.get_profile.photo %}{{ recommendation.suggested_user.get_profile.photo.thumbnail.url}}{% else %}/images/unknown_thumbnail.png{% endif %}) no-repeat 0 2px; " >
			<strong>{% firstof recommendation.suggested_user.get_full_name recommendation.suggested_user.username %}</strong><br />
			{% if recommendation.suggested_user.get_profile.job %}{% if recommendation.suggested_user.get_profile.job.role %}{{ recommendation.suggested_user.get_profile.job.role }} at {% endif %}{{ recommendation.suggested_user.get_profile.job.name }}<br />{% endif %}
			{% if recommendation.suggested_user.get_profile.country %}{{ recommendation.suggested_user.get_profile.country.name }}<br />{% endif %}
			<a href="{% url profile recommendation.suggested_user.username %}">View Profile</a> |
			<a href="{% url add_friend recommendation.suggested_user.username %}">Add Contact</a>
			<div class="why">{{ recommendation.show_why }}</div>
		</li>
	{% endfor %}
</ul>
<form method="post" action="" id="contact-form" style="display: none">{% csrf_token %}<fieldset></fieldset></form>
<script type="text/javascript">
	$(document).ready(function (){
		$(".why").each(function (){
			$this = $(this).css('fontSize','smaller');
			reason = $this.html();
			if (reason.length) {
				$this.attr('title',$this.html());
				$this.html("");
				$a=$("<a>");
				$a.html("Why?").css({
					textDecoration: 'underline',
					cursor: 'pointer',
					color: 'red'
				}).click(function (e){
					$box = $(this).parent(); 
					$box.html($box.attr('title'));
					e.stopPropagation();
					return false;
				}).appendTo($this);
			}
		});
	});
</script>
{% endblock content %}

{% block extra_css %}
	.dialog {
		display: block;
		position: fixed;
		width: 30em;
		height: 15em;
		top: 50%;
		left: 50%;
		margin-top: -7.5em;
		margin-left: -15em;
		background: white;
		border: 3px solid black;
		padding: 1em;
	}
	.dialog h2 {
		text-align: center
	}
	.dialog button {
		margin: 1em auto;
		width: auto;
		display: block;
	}
{% endblock extra_css %}